<table class="table table-hover table-striped table-bordered" >
  <thead>
      <tr>
        <th class="text-center">Symbol</th>
        <th class="text-center">Exchange</th>
        <th>Name</th>
        <th class="tbl_sm text-center">Price</th>
        <th class="text-center">Prev.close</th>
        <th class="text-center">Change</th>
        <th class="text-center">Change %</th>
        <th class="text-center">Volume</th>
        <th class="text-center">52wk High</th>
        <th class="text-center">52wk Low</th>
        <th class="text-center">ytd Change</th>
        <th class="text-center">As Of</th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @quotes, cached: true %>

  </tbody>
</table>

