<tr>
  <td class="text-center"><%= dividend.date %></td>
  <td class="text-center"><%= dividend.position.symbol %></td>
  <td class="text-center"><%= dividend.cash %></td>
  <td class="text-center"><%= dividend.note %></td>
</tr>
