<!-- portfolios index page filter -->
<%= simple_form_for :portfolio, method: :get do |f| %>
<div class="row">
  <div class="col-lg-2">
    <%= f.input :currency, collection: CURRENCIES, label: false, hint: "Show portfolios in", include_blank: 'All Currencies', selected: @currency, input_html: { onchange: 'this.form.submit();' }  %>
  </div>
  <div class="col-lg-2">
    <%= f.input :base_currency, collection: CURRENCIES, label: false, hint: "Show totals in",  include_blank: false, selected: @base_currency, input_html: { onchange: 'this.form.submit();' }  %>
  </div>  
</div>
<% end %>
<div class='pb-3'></div>

