<!-- portfolio dropdown and cash link -->
<div class="row ml-0">
  <%= render "/portfolios/portfolio_dropdown" %>
  <div class="ml-auto mr-3">
    <%= render "/portfolios/right_links" %>
  </div>
</div>
