<%= render "header" %>

<div class="table-responsive">
<table class="table table-hover table-striped"> 
  <thead>
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Notes</th>
        <th colspan=2/>
      </tr>
  </thead>
  <tbody>

<%= render partial: "deposit", collection: @deposits %>

 </tbody>
</table>
</div>

<div class="row">
<%= will_paginate @deposits, class: "btn" %>

<div class="col-md-2 pt-2">
  <%= button_to "Add Cash", new_portfolio_position_path(@portfolio), class: "btn btn-success", method: :get, params: {addcash: 1} %>
</div>

</div>


