<% scroll = "table-responsive" if mobile_device? %>

<%= render "header" %>

<table class="table table-hover table-striped <%= scroll %>"> 
  <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Total</th>
        <th class="text-center">Notes</th>
      </tr>
  </thead>
  <tbody>

<%= render partial: "deposit", collection: @deposits %>

 </tbody>
</table>

<%= will_paginate @deposits, class: "btn" %>

