<%= render "header" %>  

<table class="table table-hover table-striped"> 
  <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Notes</th>
      </tr>
  </thead>
  <tbody>

<%= render partial: "dividend", collection: @dividends %>

 </tbody>
</table>

<%= will_paginate @dividends, class: "btn" %>
