<% provide(:button_text, 'Update Portfolio') %>

<div class="row justify-content-md-center">
<div class="col-md-8">
<h5><%= @portfolio.name %> - Edit Portfolio</h5>
<div class="card p-3 bg-light">
  <div class="card-body">

  <%= render 'form' %>

  </div>
</div>
</div>
</div>
