<% if object.errors.any? %>
<div id="error_explanation" class='card bg-danger mb-3'>
    <div class="card-body">
        <div class="row">
          <span class="text-white">Please correct errors below: </span>
        </div>
    </div>
</div>
<% end %>

