<footer class="mobile_footer">
  <div class="container-fluid text-center text-md-left">
      USD/CAD: <%= USDCAD %>;
      EUR/CAD: <%= EURCAD %>;
      XAU: <%= to_currency(XAUUSD) %>; 
      XAG: <%= to_currency(XAGUSD) %>
  </div>
</footer>

